<div class="jumbotron text-center mdb-color lighten-2 white-text mx-2 mb-5">
  <img class="imgCover animated fadeIn fast" src="../../../assets/img/headerProplastic.svg" alt="Header Proplastics">
  <h1 class="card-title h2 mt-5 animated fadeIn">Welcome</h1>
  <hr>
  <p class="card-text">Somos fabricantes de artículos plásticos. Nuestros servicios incluyen:</p>
  <ul>
    <li class="listaHome">Servicio de Maquila Industrial</li>
    <li class="listaHome">Fabricación de Moldes</li>
    <li class="listaHome">Asesoría en productos nuevos</li>
    <li class="listaHome">Nos especializamos en corridas pequeñas</li>
  </ul>
  <a href="" class="btn btn-outline-white">Productos Indrustriales <i class="fas fa-industry"></i></a>
  <a href="" class="btn btn-outline-white">Juguetilandia <i class="far fa-smile-beam"></i></a>
</div>
